<% layout('layouts/main-client') %>
<link rel="stylesheet" href="/css/room.css">
<div class="container-fluid py-4">
    <%- include('./partials/room-header') %>
    <%- include('./partials/nav-tabs') %>
    
    <div class="tab-content">
        <%- include('./partials/chat') %>
        <%- include('./partials/notes') %>
        <%- include('./partials/schedules') %>
        <%- include('./partials/files') %>
    </div>
</div>