<nav class="col-md-2 d-none d-md-block sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin' ? 'active' : '' %>" href="/admin">🛠️ Bảng Điều Khiển</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/manage-room' ? 'active' : '' %>" href="/admin/rooms">🏢 Phòng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/manage-schedules' ? 'active' : '' %>" href="/admin/schedules">📅 Quản Lý Lịch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/manage-note' ? 'active' : '' %>" href="/admin/notes">📓 Quản Lý Ghi Chú</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/manage-tasks' ? 'active' : '' %>" href="/admin/tasks">📝 Quản Lý Nhiệm Vụ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/manage-users' ? 'active' : '' %>" href="/admin/users">👥 Quản Lý Người Dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/resources' ? 'active' : '' %>" href="/admin/resources">🧩 Tài Nguyên</a>
        </li>
        
    </ul>
</nav>
