<nav class="col-md-2 d-none d-md-block sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin' ? 'active' : '' %>" href="/admin">🛠️ Bảng Điều Khiển</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/manage-schedules' ? 'active' : '' %>" href="/admin/schedules">📅 Quản Lý Lịch</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/manage-users' ? 'active' : '' %>" href="/admin/manage-users">👥 Quản Lý Người Dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/resources' ? 'active' : '' %>" href="/admin/resources">🧩 Tài Nguyên</a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= path === '/admin/room' ? 'active' : '' %>" href="/admin/room">🏢 Phòng</a>
        </li>
    </ul>
</nav>
